# ========== Unity 기본 ==========

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/
UserSettings/

# ========== Visual Studio / JetBrains Rider 관련 ==========
.vscode/
.idea/
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb

# ========== OS 관련 ==========
.DS_Store
Thumbs.db

# ========== Crash & 디버깅 관련 ==========
*.stacktrace
*.log

# ========== Unity Collaborate ==========
.collab/

# ========== 빌드 산출물 (apk, exe 등) ==========
*.apk
*.aab
*.exe
*.app
*.ipa

# ========== Git LFS 등 버전용량 부담 요소 ==========
*.unitypackage
*.mp4
*.mov
*.zip
*.rar
*.7z
*.tar
*.gz
*.iso
*.psd
*.tiff
*.tga

# ========== 기타 프로젝트 불필요 요소 ==========
/Assets/AssetStoreTools*
